<?xml version="1.0" encoding="UTF-8"?>
<suite name="Web Tool Automation Test Suite">
<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>

	<test name="Web App">
		<classes>
			<class name="com.purpleAdmin.qa.testcases.WebHamburgerPageTestCases"></class>
			<class name="com.purpleAdmin.qa.testcases.WebNavigationDirectionsTestCases"></class>
		</classes>
	</test>
</suite>